body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:1562px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:151px;
  width:808px;
  height:1562px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:773px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:83px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:60px;
  width:66px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:79px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:1258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:291px;
  width:718px;
  height:1258px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:621px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:276px;
  width:720px;
  height:1280px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:470px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:526px;
  width:690px;
  height:470px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:227px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:725px;
  width:720px;
  height:189px;
  overflow:hidden;
  touch-action:none;
}
#u289_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:193px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:193px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:26px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u293 {
  position:absolute;
  left:406px;
  top:919px;
  touch-action:none;
}
#u293_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
  background-image:none;
}
#u293_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:24px;
  width:126px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:24px;
  width:126px;
  height:42px;
  font-size:26px;
  color:#FFFFFF;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:536px;
  width:720px;
  height:189px;
  overflow:hidden;
  touch-action:none;
}
#u299_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u299_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:193px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:193px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#4099FB;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:110px;
  width:80px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#4099FB;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:27px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:406px;
  width:540px;
  height:51px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:457px;
  width:720px;
  height:40px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:405px;
  width:60px;
  height:33px;
  font-size:28px;
}
#u309_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u309.selected {
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:405px;
  width:87px;
  height:33px;
  font-size:28px;
}
#u311_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u311.selected {
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:405px;
  width:97px;
  height:33px;
  font-size:28px;
}
#u313_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u313.selected {
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:5px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:448px;
  width:82px;
  height:2px;
  font-size:20px;
  color:#FF0000;
}
#u315_img.selected {
}
#u315.selected {
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:96px;
  height:5px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:448px;
  width:93px;
  height:2px;
  font-size:20px;
  color:#FF0000;
}
#u317_img.selected {
}
#u317.selected {
}
#u318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:5px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:448px;
  width:82px;
  height:2px;
  font-size:20px;
  color:#FF0000;
}
#u319_img.selected {
}
#u319.selected {
}
#u320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:407px;
  top:536px;
  visibility:hidden;
}
#u321_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:909px;
  background-image:none;
}
#u321_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:909px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:909px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:-7px;
  top:16px;
  touch-action:none;
}
#u324_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
  background-image:none;
}
#u324_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:189px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:24px;
  width:126px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:24px;
  width:126px;
  height:42px;
  font-size:26px;
  color:#FFFFFF;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:84px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1463px;
  width:712px;
  height:84px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:44px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1461px;
  width:37px;
  height:44px;
}
#u332_img.selected {
}
#u332.selected {
}
#u333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:1462px;
  width:34px;
  height:37px;
}
#u334_img.selected {
}
#u334.selected {
}
#u335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1463px;
  width:44px;
  height:36px;
}
#u336_img.selected {
}
#u336.selected {
}
#u337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:44px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:1462px;
  width:36px;
  height:44px;
}
#u338_img.selected {
}
#u338.selected {
}
#u339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1515px;
  width:60px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u340_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u340.selected {
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1516px;
  width:60px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u342_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u342.selected {
}
#u343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1513px;
  width:90px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u344_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u344.selected {
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1513px;
  width:60px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u346_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#949494;
}
#u346.selected {
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1461px;
  width:70px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u349 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1462px;
  width:70px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u350 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1463px;
  width:70px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:1462px;
  width:70px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u352 {
  position:absolute;
  left:404px;
  top:276px;
  visibility:hidden;
}
#u352_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background-image:none;
}
#u352_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:54px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:56px;
  width:36px;
  height:54px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  background-image:none;
}
#u352_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:50px;
  height:51px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:840px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:840px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:530px;
  width:620px;
  height:30px;
}
#u363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:580px;
  width:620px;
  height:30px;
}
#u364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:370px;
  width:620px;
  height:30px;
}
#u365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:420px;
  width:620px;
  height:30px;
}
#u366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:718px;
  width:31px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u367_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 152, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u367.selected {
}
#u368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:718px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u369_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 152, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u369.selected {
}
#u370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:719px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u371_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 152, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u371.selected {
}
#u372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:721px;
  width:18px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:721px;
  width:18px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:722px;
  width:18px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:718px;
  width:101px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u380 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:718px;
  width:93px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u381 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:719px;
  width:133px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
